<div class="media mb-4">
	<img src="https://gymove.dexignzone.com/xhtml/error-404.html" width="85" alt="" class="rounded mr-3">
	<div class="media-body">
		<h5><a href="https://gymove.dexignzone.com/xhtml/error-404.html" class="text-black fs-16">Fresh or Frozen (No Sugar Added) Fruits</a></h5>
		<span class="fs-14 text-primary font-w500">Olivia Johanson</span>
	</div>
</div>
<ul class="d-flex pb-2 flex-wrap border-bottom mb-3 justify-content-between">
	<li class="mr-3 mb-2"><i class="las la-clock scale5 mr-3"></i><span class="fs-14 text-black">4-6 mins </span></li>
	<li class="mb-2"><i class="fa fa-star-o mr-3 scale5 text-warning" aria-hidden="true"></i><span class="fs-14 text-black font-w500">176 Reviews</span></li>
</ul>
<div class="media mb-4">
	<img src="https://gymove.dexignzone.com/xhtml/error-404.html" width="85" alt="" class="rounded mr-3">
	<div class="media-body">
		<h5><a href="https://gymove.dexignzone.com/xhtml/error-404.html" class="text-black fs-16">Fresh or Frozen (No Sugar Added) Fruits</a></h5>
		<span class="fs-14 text-primary font-w500">Stefanny Raharjo</span>
	</div>
</div>
<ul class="d-flex pb-2 flex-wrap border-bottom mb-3 justify-content-between">
	<li class="mr-3 mb-2"><i class="las la-clock scale5 mr-3"></i><span class="fs-14 text-black">4-6 mins </span></li>
	<li class="mb-2"><i class="fa fa-star-o mr-3 scale5 text-warning" aria-hidden="true"></i><span class="fs-14 text-black font-w500">176 Reviews</span></li>
</ul>