<div class="media border-bottom mb-3 pb-3 d-lg-flex d-block menu-list">
	<a href="https://gymove.dexignzone.com/xhtml/error-404.html"><img class="rounded mr-3 mb-md-0 mb-3" src="https://gymove.dexignzone.com/xhtml/error-404.html" alt="" width="120"></a>
	<div class="media-body col-lg-8 pl-0">
		<h6 class="fs-16 font-w600"><a href="https://gymove.dexignzone.com/xhtml/error-404.html" class="text-black">Vitamin C Vegetables</a></h6>
		<p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
		<div class="d-flex flex-wrap align-items-center">
			<div class="d-flex mb-sm-2 mb-3 pr-3 mr-auto align-items-center">
				<img src="https://gymove.dexignzone.com/xhtml/error-404.html" alt="" width="30" class="rounded-circle mr-2">
				<span class="fs-14 text-black font-w500">Tiffany Lawrenc</span>
			</div>
			<ul class="d-flex flex-wrap mb-sm-0 mb-2">
				<li class="mb-2 mr-4 text-nowrap"><i class="las la-clock scale5 mr-2"></i><span class="fs-14 text-black text-nowrap font-w500">4-6 mins </span></li>
				<li class="mb-2 mr-4 text-nowrap"><i class="las la-prescription-bottle scale5 mr-2"></i><span class="text-nowrap fs-14 text-black font-w500">5 Ingridients</span></li>
				<li class="text-nowrap mb-2"><i class="fa fa-star-o mr-2 scale5 text-warning" aria-hidden="true"></i><span class="text-nowrap fs-14 text-black font-w500">568 Reviews</span></li>
			</ul>
		</div>
	</div>
	<a href="javascript:void(0);" data-toggle="modal" data-target="#aAddDietMenus" class="btn btn-primary light btn-md ml-auto"><i class="fa fa-plus scale5 mr-3"></i>Add Menu</a>
</div>
<div class="media border-bottom mb-3 pb-3 d-lg-flex d-block menu-list">
	<a href="https://gymove.dexignzone.com/xhtml/error-404.html"><img class="rounded mr-3 mb-md-0 mb-3" src="https://gymove.dexignzone.com/xhtml/error-404.html" alt="" width="120"></a>
	<div class="media-body col-lg-8 pl-0">
		<h6 class="fs-16 font-w600"><a href="https://gymove.dexignzone.com/xhtml/error-404.html" class="text-black">Fresh or Frozen (No Sugar Added) Fruits</a></h6>
		<p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
		<div class="d-flex flex-wrap align-items-center">
			<div class="d-flex mb-sm-2 mb-3 pr-3 mr-auto align-items-center">
				<img src="https://gymove.dexignzone.com/xhtml/error-404.html" alt="" width="30" class="rounded-circle mr-2">
				<span class="fs-14 text-black font-w500">Budy Khan</span>
			</div>
			<ul class="d-flex flex-wrap mb-sm-0 mb-2">
				<li class="mb-2 mr-4 text-nowrap"><i class="las la-clock scale5 mr-2"></i><span class="fs-14 text-black text-nowrap font-w500">4-6 mins </span></li>
				<li class="mb-2 mr-4 text-nowrap"><i class="las la-prescription-bottle scale5 mr-2"></i><span class="text-nowrap fs-14 text-black font-w500">5 Ingridients</span></li>
				<li class="text-nowrap mb-2"><i class="fa fa-star-o mr-2 scale5 text-warning" aria-hidden="true"></i><span class="text-nowrap fs-14 text-black font-w500">568 Reviews</span></li>
			</ul>
		</div>
	</div>
	<a href="javascript:void(0);" data-toggle="modal" data-target="#aAddDietMenus" class="btn btn-primary light btn-md ml-auto"><i class="fa fa-plus scale5 mr-3"></i>Add Menu</a>
</div>